APP_ENV=development
PORT=3000
REDIS_HOST=redis://localhost:6379

# IXC Soft
IXCSOFT_BASE_URL=https://demo.ixcsoft.com.br/webservice/v1
IXCSOFT_TOKEN=102:c460359204c65944514f9232dbbf2ab2194a2181244bf6e5dc4b264e8337c676
IXCSOFT_FILIAL_ID=1
IXCSOFT_CONTA_ID=1

# Woovi
WOOVI_APP_ID=
WOOVI_WEBHOOK_SECRET=
WOOVI_API_URL=https://api.woovi.com.br

# Cron schedule (default: every hour)
POLL_INTERVAL_CRON=0 * * * *

ELASTIC_APM_SERVICE_NAME=service-ixcsoft
