APP_ENV=development
PORT=7777
REDIS_HOST=redis://localhost:6379
MONGO_URI=mongodb://wooviDevReadWrite:LKczs4LedHUKxGV3+UopuA==@mongo1.dev1.woovi.corp,mongo2.dev1.woovi.corp,mongo3.dev1.woovi.corp/woovi-dev?replicaSet=rs0&readPreference=secondaryPreferred&authSource=admin

# IXC Soft
IXCSOFT_BASE_URL=https://demo.ixcsoft.com.br/webservice/v1
IXCSOFT_TOKEN=102:c460359204c65944514f9232dbbf2ab2194a2181244bf6e5dc4b264e8337c676
IXCSOFT_FILIAL_ID=1
IXCSOFT_CONTA_ID=1

# Woovi
WOOVI_APP_ID=
WOOVI_API_URL=https://api.woovi.com.br

# Cron schedule (default: every hour)
POLL_INTERVAL_CRON=0 * * * *

ELASTIC_APM_SERVICE_NAME=service-ixcsoft
